@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
    font-family: 'Source Sans Pro', 'Ubuntu', sans-serif;
    color: white;
    background-color: #a80000;
    text-align: center;
    user-select: none;
    border-style: none !important;
    outline: none;
}

h1>div {
    font-size: 40px;
    margin-top: -30px;
}

input,
label {
    font-size: 20px;
}